@charset "UTF-8";

body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #594F4F;
}

div.fundo {
background-image: url(../imagens/pexels-pixabay-358319.jpg);
background-size: cover;
background-position: center;
}

h1 {
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #000000;
    line-height: 1.6;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

